:root {
    --theme-main: 226, 118, 118;
    --theme-dark-accent: 184, 60, 81;
    --theme-dark-shades: 39, 28, 43;
    --theme-light-accent: 160, 145, 172;
    --theme-light-accent2: 126, 179, 162;
    --theme-light-shades: 244, 246, 244;
}

.theme-main {
    background-color: rgb(var(--theme-main));
}

.theme-dark-accent {
    background-color: rgb(var(--theme-dark-accent));
}

.theme-dark-shades {
    background-color: rgb(var(--theme-dark-shades));
}

.theme-light-accent {
    background-color: rgb(var(--theme-light-accent));
}

.theme-light-accent2 {
    background-color: rgb(var(--theme-light-accent2));
}

.theme-light-shades {
    background-color: rgb(var(--theme-light-shades));
}

.navbar {
    position: relative;
    /* display: flex; */
    height: 100%;
    width: 100vw;
    background-color: rgb(var(--theme-dark-shades));
    transform: translateY(-100%);
    transition: transform .5s cubic-bezier(.4, 0, .2, 1);
}

.nav-container:hover .navbar {
    transform: translateY(0);
}

.navbar.visible {
    transform: translateY(0);
}

.nav-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 9999;
}

@media (max-width: 800px) {
    .nav-container {
        flex-direction: column;
    }
}

.page-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.title-header {
    max-height: 100vh;
    min-height: 100vh;
    padding-top: 44vh;
    padding-bottom: 36vh;
    scroll-snap-align: start;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: none;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: none;
    }
}

@keyframes scaleUpSpin {
    0% {
        transform: scale(0) rotateZ(-180deg);
    }
    75% {
        transform: scale(1.05) rotate(1deg);
    }
    100% {
        transform: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.load-slide-right {
    animation-name: slideRight;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.load-slide-down {
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-delay: 1.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.load-scale-up-spin {
    animation-name: scaleUpSpin;
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    /* transition-timing-function: ease-in; */
}

.load-fade-in {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.page-content::after {
    content: "";
    display: block
}

footer {
    clear: both;
    background-color: rgb(var(--theme-dark-shades));
    color: rgb(var(--theme-light-shades));
    scroll-snap-align: end;
}

footer a.links {
    color: rgba(255, 255, 255, 0.8);
}

footer a.links:hover {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

footer a.links:active {
    color: white;
}

a.back-to-top {
    color: rgb(140, 101, 154);
}

a.back-to-top:hover {
    color: rgba(140, 101, 154, 0.8);
    text-decoration: none;
}

.circuit {
    background-image: linear-gradient(rgba(var(--theme-main), .5), rgba(var(--theme-main), .5)), url(./images/circuit\ board.jpg!d);
    background-size: cover;
}

.main-page.popup {
    width: 90vw;
    scroll-snap-align: center;
}

.main-page.popup.left {
    background-color: rgba(var(--theme-light-accent), .7);
}

.main-page.popup.right {
    background-color: rgba(var(--theme-light-accent2), .7);
}

.main-page.popup .header {
    font-weight: 300;
    font-size: 4rem;
}

.main-page.popup .content {
    font-weight: 375;
    font-size: 1.8rem;
    line-height: 1.8;
}

.main-page.popup .text {
    font-family: 'Segoe UI';
}

.small-img {
    aspect-ratio: initial;
    max-height: 25rem;
    max-width: 25rem;
}

.popup.left .small-img {
    margin-left: 2.5em;
    margin-right: .5rem;
}

.popup.right .small-img {
    margin-left: .5rem;
    margin-right: 2.5rem;
}

.fade-scroll {
    opacity: 0;
    transform: scale(0.9);
    transition-delay: 0.25s;
    transition-timing-function: cubic-bezier(0.2, 0.75, 0.3, 1);
    transition-duration: 0.25s;
}

.fade-scroll.left {
    transform: translate(-10vw, 0);
}

.fade-scroll.right {
    transform: translate(10vw, 0);
}

.fade-scroll.up {
    transform: scale(1);
    opacity: 0;
    transition-delay: 0.8s;
}

.fade-scroll.visible {
    transform: translateX(0) scale(1);
    opacity: 1;
}

.fade-scroll.passed {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .8s;
}

.fade-scroll.passed.left {
    transform: translateX(-50vw);
    transition: all 0.05s cubic-bezier(0.18, 0.89, 0.32, 1.28), 1s;
}

.fade-scroll.passed.right {
    transform: translateX(50vw);
    transition: all 0.05s cubic-bezier(0.18, 0.89, 0.32, 1.28), 1s;
}

::-webkit-scrollbar {
    width: 0px;
}

.bg-microscope {
    background-image: linear-gradient(rgba(52, 58, 64, .7), rgba(52, 58, 64, .7)), url(./images/microscope.jpg!d);
    background-size: cover;
    z-index: -1;
}

body {
    /* overflow: hidden; */
    position: relative;
}