:root {
    --theme-main: 226, 118, 118;
    --theme-dark-accent: 184, 60, 81;
    --theme-dark-shades: 39, 28, 43;
    --theme-light-accent: 160, 145, 172;
    --theme-light-accent2: 126, 179, 162;
    --theme-light-shades: 244, 246, 244;
}

.theme-main {
    background-color: rgb(var(--theme-main));
}

.theme-dark-accent {
    background-color: rgb(var(--theme-dark-accent));
}

.theme-dark-shades {
    background-color: rgb(var(--theme-dark-shades));
}

.theme-light-accent {
    background-color: rgb(var(--theme-light-accent));
}

.theme-light-accent2 {
    background-color: rgb(var(--theme-light-accent2));
}

.theme-light-shades {
    background-color: rgb(var(--theme-light-shades));
}

.navbar {
    position: relative;
    height: 100%;
    width: 100vw;
    background-color: rgb(var(--theme-dark-shades));
    transform: translateY(-100%);
    transition: transform .5s cubic-bezier(.4, 0, .2, 1);
}

.nav-container:hover .navbar {
    transform: translateY(0);
}

.navbar.visible {
    transform: translateY(0);
}

.nav-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 9999;
}

@media (max-width: 800px) {
    .nav-container {
        flex-direction: column;
    }
}

.page-content {
    overflow-y: overlay;
    overflow-x: hidden;
    height: 100vh;
    scroll-behavior: smooth;
}

.title-header {
    padding-top: 44vh;
    scroll-snap-align: start;
}

.title {
    margin-top: 5%;
}

.title-header.full {
    max-height: 100vh;
    min-height: 100vh;
}

.page-content::after {
    content: "";
    display: block
}

.contact {
    border-radius: 3px;
    width: 33%;
    margin: 0 auto;
}

.submit.btn {
    background-color: rgb(var(--theme-light-accent2));
}

.center {
    margin: 0 auto !important;
    display: flex !important;
    justify-content: center !important;
}

footer {
    position: relative;
    clear: both;
    background-color: rgb(var(--theme-dark-shades));
    color: rgb(var(--theme-light-shades));
    scroll-snap-align: end;
}

footer a.link {
    color: rgba(255, 255, 255, 0.5);
}

footer a.link.active {
    color: rgba(255, 255, 255, 0.85);
}

footer a.link:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

footer a.link.active:hover {
    color: rgba(255, 255, 255, 0.85);
}

footer a.link:active {
    color: rgb(255, 255, 255);
}

footer a.back-to-top {
    color: rgb(140, 101, 154);
}

footer a.back-to-top:hover {
    color: rgba(140, 101, 154, 0.8);
    text-decoration: none;
}

.socials a {
    color: rgb(var(--theme-dark-shades));
}

.socials a:hover {
    color: rgba(var(--theme-dark-shades), 0.8);
}

.back-to-top {
    position: absolute;
    left: 90%;
    bottom: 50%;
    font-size: 2rem;
}

.circuit {
    background-image: linear-gradient(rgba(var(--theme-main), .5), rgba(var(--theme-main), .5)), url(./images/circuit\ board.jpg!d);
    background-size: cover;
}

.main-page.popup {
    width: 90vw;
    scroll-snap-align: center;
}

.main-page.popup.left {
    background-color: rgba(var(--theme-light-accent), .7);
}

.main-page.popup.right {
    background-color: rgba(var(--theme-light-accent2), .7);
}

.resume.popup {
    background-color: rgb(var(--theme-dark-accent));
    color: white;
    clear: both;
    width: 60vw;
}

.resume.popup.left {
    position: relative;
    left: 10vw;
}

.resume.popup.right {
    position: relative;
    right: 10vw;
}

.header {
    font-weight: 300;
    font-size: 4rem;
}

.content {
    font-weight: 375;
    font-size: 1.8rem;
    line-height: 1.6;
}

.text {
    font-family: 'Segoe UI';
}

.text .undertext {
    color: rgb(230, 185, 185);
    font-weight: 375;
    font-size: 1.4rem;
    line-height: 1.2;
}

.small-img {
    aspect-ratio: initial;
    max-height: 25rem;
    max-width: 25rem;
}

.popup.left .small-img {
    margin-left: 2.5em;
    margin-right: .5rem;
}

.popup.right .small-img {
    margin-left: .5rem;
    margin-right: 2.5rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--theme-dark-shades), .8);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--theme-dark-shades), 1);
}

.bg-microscope {
    background-image: linear-gradient(rgba(52, 58, 64, .7), rgba(52, 58, 64, .7)), url(./images/microscope.jpg!d);
    background-size: cover;
    z-index: -1;
}

body {
    overflow: hidden;
    position: relative;
}